* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {

    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fb9c5a;

}


.container {

    display: flex;
    flex-direction: column;
    width: 320px;
    border-radius: 4px;

}

.display {

    height: 50px;
    background-color: #f4324a;
}

main {
    display: flex;
    flex-wrap: wrap;
    background-color: #4b4b55;
    gap: 3px;
    padding: 10px;
}

button {
    width: 70px;
    height: 70px;
    background-color: #f4324a;
    border-radius: 6px;
    flex-grow: 1;
    color: #fb9c5a;
}

.equal {
    flex-grow: 11;
}

.content {
    font-size: 25px;
    padding: 10px;
    color: #fb9c5a;
    text-align: right;
}